PORT=3000

# URL Flask stream di Raspberry Pi (ubah ke IP Pi kamu atau URL tunnel)
PI_STREAM_URL=http://192.168.x.x:5000/stream

# URL Microservices internal / eksternal
PHARYNGITIS_URL=http://localhost:8000
CS_RECONSTRUCT_URL=http://localhost:6000

# Konfigurasi MQTT Broker
MQTT_URL=mqtt://localhost:1883
MQTT_USERNAME=your_mqtt_username
MQTT_PASSWORD=your_mqtt_password

# Konfigurasi Supabase
SUPABASE_URL=https://your_project.supabase.co
SUPABASE_SERVICE_KEY=your_supabase_service_key
SUPABASE_BUCKET=endoskop-media

