PORT=3000

MQTT_HOST=your_hivemq_host
MQTT_PORT=8883
MQTT_USERNAME=your_mqtt_username
MQTT_PASSWORD=your_mqtt_password

SUPABASE_URL=https://your_project.supabase.co
SUPABASE_SERVICE_KEY=your_supabase_service_key
SUPABASE_BUCKET=endoskop-media
